.container {
  max-width: 500px;
  width: 100%;
  margin: 35px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
}

label {
  float: left;
  margin-left: 12px;
  font-weight: 300;
}

input {
  box-sizing: border-box;
  padding: 10px;
  width: 95%;
  margin: 10px;
}

.btn {
  margin-top: 15px;
  padding: 10px 70px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: coral;
  color: white;
  font-size: 1.2rem;
}

.or {
  text-align: center;
  font-weight: 400;
}

.redirect {
  margin: 10px auto;
  text-decoration: none;
  font-size: 1.2rem;
}

h3 {
  text-align: center;
  font-weight: 600;
}

.logoutbtn {
  float: right;
  margin: 10px;
}
